<div class="wrapperDiv">
    <div id="errorDiv" class="hidden">

    </div>
    <h1>The Whole Prime Number Checker</h1>
    <form id="primeForm" method="post">
        <label for="numberInput">Enter the number:</label><br>
        <input name="number1" type="number" id="numberInput"><br>
        <button class="submitBtn" type="submit">Check</button>
    </form>
    <div id="primeAttempts">
        <ul id="attempts"></ul>
    </div>
</div>