<h1>{{title}}</h1>
<article>
                <p>This page is to help you to search shows from TV Maze</p>
                <form action="/searchshows" class="form-inline" method="POST">
                    <div class="form-group">
                        <label for="search">
                            Show:
                        </label>
                        <input type="search" class="form-control" id="search" name="showSearchTerm">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Submit
                    </button>
                </form>
            </article>